<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Recent Postings</h1>

<span class="btn">
  <%= link_to 'New Bug', new_bug_path, remote: true %>
</span>

<div id="bugs">
  <%= render @bugs %>
</div>

<div id="blog-form" style="display:none;"></div>

